{%- liquid
  assign custom_payment_icons = section.blocks | where: 'type', 'custom_payment_icon'
  assign newsletter_block = section.blocks | where: 'type', 'newsletter'
  assign show_follow_on_shop = false
  assign last_grid_class = 'grid-cols-1 text-align-center'

  if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop
    assign show_follow_on_shop = true
  endif

  # las_grid_class used in the very last grid containing copyright, social, payment icons, localization link and shop follow. Grid class will change depending on the shown content.
  if section.settings.payment_enable or section.settings.show_social
    if show_follow_on_shop
      assign last_grid_class = 'grid-cols-1 md-grid-cols-3'
    else
      assign last_grid_class = 'grid-cols-1 md-grid-cols-2'
    endif
  endif
-%}

{%- if newsletter_block -%}
  {{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<footer
  id="SiteFooter-{{ section.id }}"
  class="footer-costum-style  container-1920px pt pb sm-pt sm-pb color-{{ section.settings.color_scheme }} {{ section.settings.size_multiplier }} {{ section.settings.sm_size_multiplier }}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  "
>
  {% if section.settings.show_top_border %}
    <hr class="mb-48 sm-mb-80 sm-down-hide">
  {% endif %}

  {%- if section.blocks.size > 0 -%}
    <div class="grid-footer  mb-48 sm-mb-80 footer-main">
      {%- for block in section.blocks -%}
        {%- if block.type == 'custom_payment_icon' -%}
          {%- continue -%}
        {%- endif -%}
        <div
          class="col-12 col-sm-6 {{ block.settings.column_width }}"
          {{ block.shopify_attributes }}
          style="flex: 0 0 auto;"
        >
          {%- case block.type -%}
            {%- when 'image' -%}
              {% if block.settings.title != blank %}
                <div class="footer-block__title summary-title">
                  {{- block.settings.title | escape -}}
                </div>
              {% endif %}
              <div class="footer-block__image text-align-{{ block.settings.text_alignment }}">
                {% if block.settings.image != blank %}
                  {{
                    block.settings.image
                    | image_url: width: block.settings.image_width
                    | image_tag: class: 'footer-image', loading: 'lazy'
                  }}
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="rte rte--no-max mt-12">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
              </div>
            {%- when 'text' -%}
              <div class="footer-block__title summary-title">
                {{- block.settings.title | escape -}}
              </div>
              <div class="footer-block__details-content">
                <div class="rte">
                  {{ block.settings.text }}
                </div>
              </div>
            {%- when 'link_list' -%}
              <details class="footer-details" open data-mobile-close="true" data-desktop-open="true">
                <summary class="footer-block__title">
                  <span>
                    {%- if block.settings.title != blank -%}
                      {{- block.settings.title | escape -}}
                    {%- elsif block.settings.title == blank and block.type == 'link_list' -%}
                      {{ linklists[block.settings.menu].title }}
                    {%- endif -%}
                  </span>
                  {% render 'icon-caret' %}
                </summary>
                <div class="content">
                  {%- if block.settings.menu != blank -%}
                    <ul class="link-list">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              </details>
            {%- when 'newsletter' -%}
              <div class="footer-block__title summary-title" style="width: 100%;">
                {%- if block.settings.title != blank -%}
                  {{ block.settings.title | escape }}
                {%- endif -%}
              </div>
              <div class="footer-block__details-content" style="width: 100%;">
                {%- if block.settings.richtext != blank -%}
                  <div class="footer-block__description rte mb-16">{{ block.settings.richtext }}</div>
                {%- endif -%}

                {%- render 'newsletter-form', section_id: section.id -%}
              </div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  {% if section.settings.show_bottom_border %}
    <hr class="mb-48 sm-mb-24">
  {% endif %}

  <div class="footer-last grid {{ last_grid_class }}" style="display: none;">
    <div class="payments-and-some text-align-center md-text-align-left">
      {%- if section.settings.payment_enable -%}
        <div class="footer-payment mb-16">
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="flex" role="list" style="gap: 8px;">
            {%- for type in shop.enabled_payment_types -%}
              <li class="footer-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
            {% for custom_payment_icon in custom_payment_icons %}
              <li class="footer-payment__item">
                {% if custom_payment_icon.settings.svg != blank %}
                  {{ custom_payment_icon.settings.svg }}
                {% elsif custom_payment_icon.settings.image != blank %}
                  {%- assign img = custom_payment_icon.settings.image -%}
                  {%- assign custom_width = img.width | divided_by: 2 -%}
                  {%- assign custom_height = img.height | divided_by: 2 -%}
                  {% render 'img',
                    wrapped: false,
                    src: custom_payment_icon.settings.image,
                    custom_width: custom_width,
                    custom_height: custom_height
                  %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {%- endif -%}

      {%- if section.settings.show_social -%}
        {% render 'social-icons' %}
      {%- endif -%}
    </div>

    {%- if show_follow_on_shop -%}
      <div class="footer__follow-on-shop text-align-center">
        {% # theme-check-disable %}
        {{ shop | login_button: action: 'follow' }}
        {% # theme-check-enable %}
      </div>
    {%- endif -%}

    <div class="copyright-and-localization text-align-center{% unless last_grid_class contains 'text-align-center' %} md-text-align-right{% endunless %}">
      {%- if section.settings.enable_country_selector -%}
        <div class="flex sm-horizontal-right mb-16" style="gap:16px" ;>
          {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
            <button
              type="button"
              class="btn btn--link font-body size--small color-text js"
              data-drawer-submenu-open="#localization"
            >
              {{
                localization.country
                | image_url: width: 32
                | image_tag
                | replace: '<img',
                  '<img class="country-flag" loading="lazy" style="width:20px;height:20px;margin-right:12px;margin-left:1px;"'
              }}
              <strong>
                {{- localization.country.name }} | {{ localization.country.currency.iso_code }}
                {{ localization.country.currency.symbol -}}
              </strong>
            </button>

            <noscript>
              {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">
                  {{ 'localization.country_label' | t | t }}
                </h2>
                <select class="btn btn--full" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                <button class="btn btn--primary btn--full mt-8">{{ 'localization.update_country' | t }}</button>
              {%- endform -%}
            </noscript>
          {%- endif -%}

          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <button
              type="button"
              class="btn btn--link font-body color-text js size--small"
              data-drawer-submenu-open="#localization"
            >
              <strong>{{ localization.language.endonym_name | capitalize }}</strong>
            </button>
            <noscript>
              {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                  {{ 'localization.language_label' | t | t }}
                </h2>
                <select class="btn btn--full" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                <button class="btn btn--primary btn--full mt-8">{{ 'localization.update_language' | t }}</button>
              {%- endform -%}
            </noscript>
          {%- endif -%}
        </div>
      {%- endif -%}

      <div class="footer__copyright size--small">
        {%- if section.settings.show_copyright -%}
          <span>
            &copy; {{ 'now' | date: '%Y' }}
            {%- if section.settings.copyright_text != blank -%}
              {{ section.settings.copyright_text }}
            {%- else -%}
              {{ shop.name }}
            {%- endif -%}
          </span>
        {%- else -%}
          {{ powered_by_link }}
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="svg-left">
      <svg width="307" height="40" viewBox="0 0 307 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.3438 11.4647L21.7812 18.3389L19.9062 26.9005L11.9688 30.6501L4.09375 26.9005L2.15625 18.3389L7.65625 11.4647H16.3438ZM11.9688 8.34L2.40625 12.9645L0.03125 23.3384L6.65625 31.65H17.2812L23.7812 23.3384L21.4688 12.9645L11.9688 8.34ZM13.2188 20.4637C14.2188 20.4637 14.7188 20.4012 15.0312 20.0887C15.1573 19.9288 15.2236 19.7299 15.2188 19.5263C15.2224 19.4347 15.2077 19.3432 15.1755 19.2574C15.1433 19.1715 15.0943 19.093 15.0312 19.0264C14.7812 18.7764 14.2812 18.7139 13.2188 18.7139H9.28125V20.4637H13.2188ZM17.4688 24.2758H14.5938L11.7812 21.9635H9.40625V24.2758H7.34375V17.0266H13.3438C15.5312 17.0266 16.2812 17.2765 16.7812 17.7765C16.9929 18.0017 17.1573 18.267 17.2646 18.5569C17.372 18.8467 17.4201 19.1551 17.4062 19.4638C17.4152 19.7626 17.3646 20.0601 17.2573 20.3391C17.15 20.6181 16.9882 20.8729 16.7812 21.0886C16.3438 21.5261 15.7812 21.7761 14.5312 21.901L17.4688 24.2758Z" fill="#A9A8B0"/>
        <path d="M53.1562 25.9631H67.0312V23.5259H56.1563V21.7761H63.9688V19.5263H56.1563V17.714H67.0312V15.2768H53.1562V25.9631ZM109.094 23.5259V15.2768H105.969V25.9631H120.031V23.5259H109.156H109.094ZM97.8438 15.2768H93.2812L87.4062 25.9631H90.7188L91.8437 23.8383H99.0938L100.219 25.9631H103.656L97.8438 15.2768ZM93.0937 21.5261L95.4687 17.0266L97.8438 21.5261H93.0937ZM43.5312 20.2762C44.9062 20.2762 45.7187 20.2762 46.0937 19.8388C46.3046 19.6084 46.4215 19.3074 46.4215 18.9951C46.4215 18.6828 46.3046 18.3819 46.0937 18.1515C45.7812 17.839 45.0938 17.7765 43.5312 17.7765H37.6563V20.2762H43.5312ZM49.6563 25.9631L45.4062 26.0256L41.2813 22.5885H37.6563V26.0256H34.5938V15.2768H43.4688C46.6562 15.2768 47.7812 15.6517 48.5312 16.4641C48.8304 16.7928 49.0617 17.1772 49.2119 17.5955C49.362 18.0137 49.4281 18.4575 49.4062 18.9014C49.4353 19.3459 49.3726 19.7916 49.222 20.2109C49.0715 20.6302 48.8364 21.014 48.5312 21.3386C47.9062 21.9635 47.0312 22.3385 45.1562 22.526L49.6563 25.9631ZM76.0312 23.5884C74.7812 23.5884 74.1562 23.4009 73.7812 23.0259C73.4599 22.7234 73.2093 22.3537 73.0472 21.9433C72.8852 21.5328 72.8157 21.0916 72.8438 20.6512C72.8249 20.2211 72.8989 19.792 73.0607 19.393C73.2224 18.994 73.4682 18.6345 73.7812 18.3389C74.2188 18.0265 74.7812 17.7765 76.0312 17.7765H84.7812V15.3393H76.0312C73.5312 15.3393 72.4688 15.5892 71.5312 16.4016C70.9326 16.9279 70.4634 17.5851 70.1599 18.322C69.8564 19.059 69.7268 19.856 69.7812 20.6512C69.7169 21.4566 69.8417 22.2658 70.1455 23.0145C70.4493 23.7631 70.9238 24.4304 71.5312 24.9632C72.4688 25.7756 73.4688 26.0256 76.0312 26.0256H84.7812V19.5263H77.2812V21.7761H81.7812V23.5259H76.0312V23.5884Z" fill="#A9A8B0"/>
        <path d="M135.654 20.1519H136.551C136.551 20.7652 136.375 21.2262 136.023 21.5348C135.672 21.8394 135.195 21.9918 134.594 21.9918C134.176 21.9918 133.814 21.8961 133.51 21.7047C133.205 21.5133 132.969 21.2477 132.801 20.9078C132.637 20.568 132.555 20.1734 132.555 19.7242V19.0387C132.555 18.5894 132.637 18.1949 132.801 17.8551C132.969 17.5152 133.205 17.2496 133.51 17.0582C133.814 16.8668 134.176 16.7711 134.594 16.7711C135.195 16.7711 135.672 16.9234 136.023 17.2281C136.379 17.5328 136.557 17.9918 136.557 18.6051H135.66C135.66 18.2262 135.57 17.9547 135.391 17.7906C135.211 17.6266 134.945 17.5445 134.594 17.5445C134.34 17.5445 134.127 17.609 133.955 17.7379C133.787 17.8629 133.658 18.0367 133.568 18.2594C133.482 18.482 133.439 18.7398 133.439 19.0328V19.7242C133.439 20.0172 133.482 20.2769 133.568 20.5035C133.658 20.7262 133.787 20.9019 133.955 21.0309C134.127 21.1559 134.34 21.2184 134.594 21.2184C134.945 21.2184 135.209 21.1363 135.385 20.9723C135.564 20.8082 135.654 20.5348 135.654 20.1519ZM131.219 19.3785C131.219 19.8941 131.307 20.3746 131.482 20.8199C131.662 21.2652 131.91 21.6559 132.227 21.9918C132.547 22.3238 132.916 22.5836 133.334 22.7711C133.752 22.9547 134.199 23.0465 134.676 23.0465C135.152 23.0465 135.598 22.9547 136.012 22.7711C136.43 22.5836 136.797 22.3238 137.113 21.9918C137.434 21.6559 137.682 21.2652 137.857 20.8199C138.037 20.3746 138.127 19.8941 138.127 19.3785C138.127 18.859 138.037 18.3785 137.857 17.9371C137.682 17.4918 137.434 17.1031 137.113 16.7711C136.797 16.4391 136.43 16.1812 136.012 15.9977C135.598 15.8141 135.152 15.7223 134.676 15.7223C134.199 15.7223 133.752 15.8141 133.334 15.9977C132.916 16.1812 132.547 16.4391 132.227 16.7711C131.91 17.1031 131.662 17.4918 131.482 17.9371C131.307 18.3785 131.219 18.859 131.219 19.3785ZM130.516 19.3785C130.516 18.7574 130.623 18.1812 130.838 17.65C131.053 17.1187 131.352 16.6559 131.734 16.2613C132.117 15.8629 132.559 15.5543 133.059 15.3355C133.562 15.1129 134.102 15.0016 134.676 15.0016C135.25 15.0016 135.787 15.1129 136.287 15.3355C136.791 15.5543 137.232 15.8629 137.611 16.2613C137.994 16.6559 138.293 17.1187 138.508 17.65C138.727 18.1812 138.836 18.7574 138.836 19.3785C138.836 19.9996 138.727 20.5758 138.508 21.107C138.293 21.6383 137.994 22.1031 137.611 22.5016C137.232 22.9 136.791 23.2105 136.287 23.4332C135.787 23.6559 135.25 23.7672 134.676 23.7672C134.102 23.7672 133.562 23.6559 133.059 23.4332C132.559 23.2105 132.117 22.9 131.734 22.5016C131.352 22.1031 131.053 21.6383 130.838 21.107C130.623 20.5758 130.516 19.9996 130.516 19.3785ZM149.324 22.3316V23.65H143.488V22.525L146.248 19.566C146.525 19.2574 146.744 18.9859 146.904 18.7516C147.064 18.5133 147.179 18.3004 147.25 18.1129C147.324 17.9215 147.361 17.7398 147.361 17.568C147.361 17.3102 147.318 17.0894 147.232 16.9059C147.146 16.7184 147.019 16.5738 146.851 16.4723C146.687 16.3707 146.484 16.3199 146.242 16.3199C145.984 16.3199 145.761 16.3824 145.574 16.5074C145.39 16.6324 145.25 16.8062 145.152 17.0289C145.058 17.2516 145.011 17.5035 145.011 17.7848H143.318C143.318 17.2769 143.439 16.8121 143.681 16.3902C143.923 15.9644 144.265 15.6266 144.707 15.3766C145.148 15.1227 145.671 14.9957 146.277 14.9957C146.875 14.9957 147.378 15.0934 147.789 15.2887C148.203 15.4801 148.515 15.7574 148.726 16.1207C148.941 16.4801 149.048 16.9098 149.048 17.4098C149.048 17.691 149.003 17.9664 148.914 18.2359C148.824 18.5016 148.695 18.7672 148.527 19.0328C148.363 19.2945 148.164 19.5602 147.929 19.8297C147.695 20.0992 147.435 20.3785 147.15 20.6676L145.667 22.3316H149.324ZM156.361 18.6344V20.1109C156.361 20.7516 156.292 21.3043 156.156 21.7691C156.019 22.2301 155.822 22.609 155.564 22.9059C155.31 23.1988 155.007 23.4156 154.656 23.5562C154.304 23.6969 153.913 23.7672 153.484 23.7672C153.14 23.7672 152.82 23.7242 152.523 23.6383C152.226 23.5484 151.958 23.4098 151.72 23.2223C151.486 23.0348 151.282 22.7984 151.111 22.5133C150.943 22.2242 150.814 21.8805 150.724 21.482C150.634 21.0836 150.589 20.6266 150.589 20.1109V18.6344C150.589 17.9937 150.657 17.4449 150.794 16.9879C150.935 16.5269 151.132 16.15 151.386 15.857C151.644 15.5641 151.949 15.3492 152.3 15.2125C152.652 15.0719 153.042 15.0016 153.472 15.0016C153.816 15.0016 154.134 15.0465 154.427 15.1363C154.724 15.2223 154.991 15.357 155.23 15.5406C155.468 15.7242 155.671 15.9605 155.839 16.2496C156.007 16.5348 156.136 16.8766 156.226 17.275C156.316 17.6695 156.361 18.1227 156.361 18.6344ZM154.667 20.3336V18.4059C154.667 18.0973 154.65 17.8277 154.615 17.5973C154.583 17.3668 154.534 17.1715 154.468 17.0113C154.402 16.8473 154.32 16.7144 154.222 16.6129C154.124 16.5113 154.013 16.4371 153.888 16.3902C153.763 16.3434 153.624 16.3199 153.472 16.3199C153.281 16.3199 153.111 16.357 152.962 16.4312C152.818 16.5055 152.695 16.6246 152.593 16.7887C152.491 16.9488 152.413 17.1637 152.359 17.4332C152.308 17.6988 152.282 18.023 152.282 18.4059V20.3336C152.282 20.6422 152.298 20.9137 152.329 21.148C152.365 21.3824 152.415 21.5836 152.482 21.7516C152.552 21.9156 152.634 22.0504 152.728 22.1559C152.825 22.2574 152.937 22.3316 153.062 22.3785C153.191 22.4254 153.331 22.4488 153.484 22.4488C153.671 22.4488 153.837 22.4117 153.982 22.3375C154.13 22.2594 154.255 22.1383 154.357 21.9742C154.462 21.8062 154.54 21.5875 154.591 21.318C154.642 21.0484 154.667 20.7203 154.667 20.3336ZM163.585 22.3316V23.65H157.749V22.525L160.509 19.566C160.786 19.2574 161.005 18.9859 161.165 18.7516C161.325 18.5133 161.44 18.3004 161.511 18.1129C161.585 17.9215 161.622 17.7398 161.622 17.568C161.622 17.3102 161.579 17.0894 161.493 16.9059C161.407 16.7184 161.28 16.5738 161.112 16.4723C160.948 16.3707 160.745 16.3199 160.503 16.3199C160.245 16.3199 160.022 16.3824 159.835 16.5074C159.651 16.6324 159.511 16.8062 159.413 17.0289C159.319 17.2516 159.272 17.5035 159.272 17.7848H157.579C157.579 17.2769 157.7 16.8121 157.942 16.3902C158.185 15.9644 158.526 15.6266 158.968 15.3766C159.409 15.1227 159.933 14.9957 160.538 14.9957C161.136 14.9957 161.64 15.0934 162.05 15.2887C162.464 15.4801 162.776 15.7574 162.987 16.1207C163.202 16.4801 163.31 16.9098 163.31 17.4098C163.31 17.691 163.265 17.9664 163.175 18.2359C163.085 18.5016 162.956 18.7672 162.788 19.0328C162.624 19.2945 162.425 19.5602 162.19 19.8297C161.956 20.0992 161.696 20.3785 161.411 20.6676L159.929 22.3316H163.585ZM166.608 18.6519H167.511C167.8 18.6519 168.038 18.6031 168.225 18.5055C168.413 18.4039 168.552 18.2633 168.641 18.0836C168.735 17.9 168.782 17.6871 168.782 17.4449C168.782 17.2262 168.739 17.0328 168.653 16.8648C168.571 16.693 168.444 16.5602 168.272 16.4664C168.1 16.3687 167.884 16.3199 167.622 16.3199C167.415 16.3199 167.223 16.3609 167.048 16.443C166.872 16.525 166.731 16.6402 166.626 16.7887C166.52 16.9371 166.468 17.1168 166.468 17.3277H164.774C164.774 16.859 164.899 16.4508 165.149 16.1031C165.403 15.7555 165.743 15.484 166.169 15.2887C166.595 15.0934 167.063 14.9957 167.575 14.9957C168.153 14.9957 168.659 15.0894 169.093 15.2769C169.526 15.4605 169.864 15.732 170.106 16.0914C170.348 16.4508 170.47 16.8961 170.47 17.4273C170.47 17.6969 170.407 17.9586 170.282 18.2125C170.157 18.4625 169.977 18.6891 169.743 18.8922C169.513 19.0914 169.231 19.2516 168.899 19.3727C168.567 19.4898 168.194 19.5484 167.78 19.5484H166.608V18.6519ZM166.608 19.9352V19.0621H167.78C168.245 19.0621 168.653 19.1148 169.005 19.2203C169.356 19.3258 169.651 19.4781 169.889 19.6773C170.128 19.8727 170.307 20.1051 170.429 20.3746C170.55 20.6402 170.61 20.9352 170.61 21.2594C170.61 21.6578 170.534 22.0133 170.382 22.3258C170.229 22.6344 170.014 22.8961 169.737 23.1109C169.464 23.3258 169.143 23.4898 168.776 23.6031C168.409 23.7125 168.009 23.7672 167.575 23.7672C167.216 23.7672 166.862 23.7184 166.514 23.6207C166.171 23.5191 165.858 23.3687 165.577 23.1695C165.3 22.9664 165.077 22.7125 164.909 22.4078C164.745 22.0992 164.663 21.734 164.663 21.3121H166.356C166.356 21.5309 166.411 21.7262 166.52 21.898C166.63 22.0699 166.78 22.2047 166.971 22.3023C167.167 22.4 167.384 22.4488 167.622 22.4488C167.891 22.4488 168.122 22.4 168.313 22.3023C168.509 22.2008 168.657 22.0602 168.759 21.8805C168.864 21.6969 168.917 21.484 168.917 21.2418C168.917 20.9293 168.86 20.6793 168.747 20.4918C168.634 20.3004 168.471 20.1598 168.261 20.0699C168.05 19.9801 167.8 19.9352 167.511 19.9352H166.608ZM178.883 16.5777L176.563 23.65H174.694L177.864 15.1187H179.053L178.883 16.5777ZM180.811 23.65L178.485 16.5777L178.297 15.1187H179.498L182.686 23.65H180.811ZM180.705 20.4742V21.8512H176.2V20.4742H180.705ZM189.201 22.2789V23.65H184.906V22.2789H189.201ZM185.475 15.1187V23.65H183.717V15.1187H185.475ZM195.933 22.2789V23.65H191.639V22.2789H195.933ZM192.207 15.1187V23.65H190.449V15.1187H192.207ZM200.41 15.1187H203.591C204.244 15.1187 204.804 15.2164 205.273 15.4117C205.745 15.607 206.109 15.8961 206.363 16.2789C206.617 16.6617 206.744 17.1324 206.744 17.691C206.744 18.148 206.665 18.5406 206.509 18.8687C206.357 19.193 206.14 19.4644 205.859 19.6832C205.581 19.898 205.255 20.0699 204.88 20.1988L204.324 20.4918H201.558L201.546 19.1207H203.603C203.911 19.1207 204.167 19.066 204.37 18.9566C204.574 18.8473 204.726 18.6949 204.827 18.4996C204.933 18.3043 204.986 18.0777 204.986 17.8199C204.986 17.5465 204.935 17.3102 204.833 17.1109C204.732 16.9117 204.577 16.7594 204.37 16.6539C204.163 16.5484 203.904 16.4957 203.591 16.4957H202.167V23.65H200.41V15.1187ZM205.179 23.65L203.234 19.8473L205.091 19.8355L207.06 23.568V23.65H205.179ZM210.206 15.1187V23.65H208.454V15.1187H210.206ZM218.854 19.191V22.5719C218.722 22.732 218.516 22.9059 218.239 23.0934C217.962 23.2769 217.604 23.4352 217.167 23.568C216.729 23.7008 216.2 23.7672 215.579 23.7672C215.028 23.7672 214.526 23.6773 214.073 23.4977C213.62 23.3141 213.229 23.0465 212.901 22.6949C212.577 22.3434 212.327 21.9137 212.151 21.4059C211.975 20.8941 211.888 20.3102 211.888 19.6539V19.1207C211.888 18.4644 211.972 17.8805 212.14 17.3687C212.311 16.857 212.556 16.4254 212.872 16.0738C213.188 15.7223 213.565 15.4547 214.003 15.2711C214.44 15.0875 214.927 14.9957 215.462 14.9957C216.204 14.9957 216.813 15.1168 217.29 15.359C217.766 15.5973 218.13 15.9293 218.38 16.3551C218.634 16.7769 218.79 17.2613 218.849 17.8082H217.143C217.1 17.5191 217.018 17.2672 216.897 17.0523C216.776 16.8375 216.602 16.6695 216.376 16.5484C216.153 16.4273 215.864 16.3668 215.509 16.3668C215.216 16.3668 214.954 16.4273 214.724 16.5484C214.497 16.6656 214.306 16.8394 214.149 17.0699C213.993 17.3004 213.874 17.5855 213.792 17.9254C213.71 18.2652 213.669 18.6598 213.669 19.109V19.6539C213.669 20.0992 213.712 20.4937 213.798 20.8375C213.884 21.1773 214.011 21.4644 214.179 21.6988C214.35 21.9293 214.561 22.1031 214.811 22.2203C215.061 22.3375 215.352 22.3961 215.684 22.3961C215.962 22.3961 216.192 22.3727 216.376 22.3258C216.563 22.2789 216.714 22.2223 216.827 22.1559C216.944 22.0855 217.034 22.0191 217.097 21.9566V20.4449H215.491V19.191H218.854ZM226.202 18.5934V19.9644H221.749V18.5934H226.202ZM222.27 15.1187V23.65H220.512V15.1187H222.27ZM227.456 15.1187V23.65H225.704V15.1187H227.456ZM232.864 15.1187V23.65H231.112V15.1187H232.864ZM235.489 15.1187V16.4957H228.528V15.1187H235.489ZM241.078 21.4176C241.078 21.2652 241.055 21.1285 241.008 21.0074C240.965 20.8824 240.883 20.7691 240.762 20.6676C240.641 20.5621 240.471 20.4586 240.252 20.357C240.033 20.2555 239.75 20.15 239.402 20.0406C239.016 19.9156 238.649 19.775 238.301 19.6187C237.957 19.4625 237.652 19.2809 237.387 19.0738C237.125 18.8629 236.918 18.6187 236.766 18.3414C236.617 18.0641 236.543 17.7418 236.543 17.3746C236.543 17.0191 236.621 16.6969 236.777 16.4078C236.934 16.1148 237.152 15.8648 237.434 15.6578C237.715 15.4469 238.047 15.2848 238.43 15.1715C238.817 15.0582 239.24 15.0016 239.701 15.0016C240.33 15.0016 240.879 15.1148 241.348 15.3414C241.817 15.568 242.18 15.8785 242.438 16.273C242.699 16.6676 242.83 17.1187 242.83 17.6266H241.084C241.084 17.3766 241.031 17.1578 240.926 16.9703C240.824 16.7789 240.668 16.6285 240.457 16.5191C240.25 16.4098 239.988 16.3551 239.672 16.3551C239.367 16.3551 239.113 16.4019 238.91 16.4957C238.707 16.5855 238.555 16.7086 238.453 16.8648C238.352 17.0172 238.301 17.1891 238.301 17.3805C238.301 17.525 238.336 17.6559 238.406 17.773C238.481 17.8902 238.59 17.9996 238.735 18.1012C238.879 18.2027 239.057 18.2984 239.268 18.3883C239.479 18.4781 239.723 18.566 240 18.6519C240.465 18.7926 240.873 18.9508 241.225 19.1266C241.58 19.3023 241.877 19.4996 242.115 19.7184C242.354 19.9371 242.533 20.1852 242.654 20.4625C242.776 20.7398 242.836 21.0543 242.836 21.4059C242.836 21.7769 242.764 22.109 242.619 22.4019C242.475 22.6949 242.266 22.943 241.992 23.1461C241.719 23.3492 241.393 23.5035 241.014 23.609C240.635 23.7144 240.211 23.7672 239.742 23.7672C239.32 23.7672 238.904 23.7125 238.494 23.6031C238.084 23.4898 237.711 23.3199 237.375 23.0934C237.043 22.8668 236.777 22.5777 236.578 22.2262C236.379 21.8746 236.279 21.4586 236.279 20.9781H238.043C238.043 21.2437 238.084 21.4684 238.166 21.6519C238.248 21.8355 238.363 21.984 238.512 22.0973C238.664 22.2105 238.844 22.2926 239.051 22.3434C239.262 22.3941 239.492 22.4195 239.742 22.4195C240.047 22.4195 240.297 22.3766 240.492 22.2906C240.692 22.2047 240.838 22.0855 240.932 21.9332C241.029 21.7809 241.078 21.609 241.078 21.4176ZM247.5 15.1187H250.681C251.334 15.1187 251.894 15.2164 252.363 15.4117C252.836 15.607 253.199 15.8961 253.453 16.2789C253.707 16.6617 253.834 17.1324 253.834 17.691C253.834 18.148 253.756 18.5406 253.599 18.8687C253.447 19.193 253.23 19.4644 252.949 19.6832C252.672 19.898 252.345 20.0699 251.97 20.1988L251.414 20.4918H248.648L248.636 19.1207H250.693C251.002 19.1207 251.257 19.066 251.461 18.9566C251.664 18.8473 251.816 18.6949 251.918 18.4996C252.023 18.3043 252.076 18.0777 252.076 17.8199C252.076 17.5465 252.025 17.3102 251.924 17.1109C251.822 16.9117 251.668 16.7594 251.461 16.6539C251.254 16.5484 250.994 16.4957 250.681 16.4957H249.257V23.65H247.5V15.1187ZM252.269 23.65L250.324 19.8473L252.181 19.8355L254.15 23.568V23.65H252.269ZM261.152 22.2789V23.65H256.611V22.2789H261.152ZM257.185 15.1187V23.65H255.427V15.1187H257.185ZM260.56 18.5934V19.9293H256.611V18.5934H260.56ZM261.146 15.1187V16.4957H256.611V15.1187H261.146ZM266.859 21.4176C266.859 21.2652 266.835 21.1285 266.788 21.0074C266.745 20.8824 266.663 20.7691 266.542 20.6676C266.421 20.5621 266.251 20.4586 266.032 20.357C265.814 20.2555 265.53 20.15 265.183 20.0406C264.796 19.9156 264.429 19.775 264.081 19.6187C263.738 19.4625 263.433 19.2809 263.167 19.0738C262.905 18.8629 262.698 18.6187 262.546 18.3414C262.398 18.0641 262.323 17.7418 262.323 17.3746C262.323 17.0191 262.402 16.6969 262.558 16.4078C262.714 16.1148 262.933 15.8648 263.214 15.6578C263.495 15.4469 263.827 15.2848 264.21 15.1715C264.597 15.0582 265.021 15.0016 265.482 15.0016C266.111 15.0016 266.659 15.1148 267.128 15.3414C267.597 15.568 267.96 15.8785 268.218 16.273C268.48 16.6676 268.611 17.1187 268.611 17.6266H266.864C266.864 17.3766 266.812 17.1578 266.706 16.9703C266.605 16.7789 266.448 16.6285 266.238 16.5191C266.03 16.4098 265.769 16.3551 265.452 16.3551C265.148 16.3551 264.894 16.4019 264.691 16.4957C264.488 16.5855 264.335 16.7086 264.234 16.8648C264.132 17.0172 264.081 17.1891 264.081 17.3805C264.081 17.525 264.116 17.6559 264.187 17.773C264.261 17.8902 264.37 17.9996 264.515 18.1012C264.659 18.2027 264.837 18.2984 265.048 18.3883C265.259 18.4781 265.503 18.566 265.78 18.6519C266.245 18.7926 266.654 18.9508 267.005 19.1266C267.361 19.3023 267.657 19.4996 267.896 19.7184C268.134 19.9371 268.314 20.1852 268.435 20.4625C268.556 20.7398 268.616 21.0543 268.616 21.4059C268.616 21.7769 268.544 22.109 268.4 22.4019C268.255 22.6949 268.046 22.943 267.773 23.1461C267.499 23.3492 267.173 23.5035 266.794 23.609C266.415 23.7144 265.991 23.7672 265.523 23.7672C265.101 23.7672 264.685 23.7125 264.275 23.6031C263.864 23.4898 263.491 23.3199 263.155 23.0934C262.823 22.8668 262.558 22.5777 262.359 22.2262C262.159 21.8746 262.06 21.4586 262.06 20.9781H263.823C263.823 21.2437 263.864 21.4684 263.946 21.6519C264.029 21.8355 264.144 21.984 264.292 22.0973C264.445 22.2105 264.624 22.2926 264.831 22.3434C265.042 22.3941 265.273 22.4195 265.523 22.4195C265.827 22.4195 266.077 22.3766 266.273 22.2906C266.472 22.2047 266.618 22.0855 266.712 21.9332C266.81 21.7809 266.859 21.609 266.859 21.4176ZM275.776 22.2789V23.65H271.235V22.2789H275.776ZM271.81 15.1187V23.65H270.052V15.1187H271.81ZM275.185 18.5934V19.9293H271.235V18.5934H275.185ZM275.77 15.1187V16.4957H271.235V15.1187H275.77ZM277.042 15.1187H280.223C280.876 15.1187 281.436 15.2164 281.905 15.4117C282.378 15.607 282.741 15.8961 282.995 16.2789C283.249 16.6617 283.376 17.1324 283.376 17.691C283.376 18.148 283.298 18.5406 283.141 18.8687C282.989 19.193 282.772 19.4644 282.491 19.6832C282.214 19.898 281.887 20.0699 281.512 20.1988L280.956 20.4918H278.19L278.178 19.1207H280.235C280.544 19.1207 280.8 19.066 281.003 18.9566C281.206 18.8473 281.358 18.6949 281.46 18.4996C281.565 18.3043 281.618 18.0777 281.618 17.8199C281.618 17.5465 281.567 17.3102 281.466 17.1109C281.364 16.9117 281.21 16.7594 281.003 16.6539C280.796 16.5484 280.536 16.4957 280.223 16.4957H278.8V23.65H277.042V15.1187ZM281.811 23.65L279.866 19.8473L281.723 19.8355L283.692 23.568V23.65H281.811ZM287.928 21.8687L289.938 15.1187H291.895L288.924 23.65H287.635L287.928 21.8687ZM286.077 15.1187L288.081 21.8687L288.385 23.65H287.084L284.131 15.1187H286.077ZM298.656 22.2789V23.65H294.115V22.2789H298.656ZM294.69 15.1187V23.65H292.932V15.1187H294.69ZM298.065 18.5934V19.9293H294.115V18.5934H298.065ZM298.651 15.1187V16.4957H294.115V15.1187H298.651ZM302.541 23.65H300.684L300.695 22.2789H302.541C303.002 22.2789 303.391 22.1754 303.707 21.9684C304.023 21.7574 304.262 21.4508 304.422 21.0484C304.586 20.6461 304.668 20.1598 304.668 19.5894V19.1734C304.668 18.7359 304.621 18.3512 304.527 18.0191C304.438 17.6871 304.303 17.4078 304.123 17.1812C303.943 16.9547 303.723 16.7848 303.461 16.6715C303.199 16.5543 302.898 16.4957 302.559 16.4957H300.648V15.1187H302.559C303.129 15.1187 303.65 15.2164 304.123 15.4117C304.6 15.6031 305.012 15.8785 305.359 16.2379C305.707 16.5973 305.975 17.0269 306.162 17.5269C306.354 18.023 306.449 18.5758 306.449 19.1852V19.5894C306.449 20.1949 306.354 20.7477 306.162 21.2477C305.975 21.7477 305.707 22.1773 305.359 22.5367C305.016 22.8922 304.604 23.1676 304.123 23.3629C303.646 23.5543 303.119 23.65 302.541 23.65ZM301.68 15.1187V23.65H299.922V15.1187H301.68Z" fill="#A9A8B0"/>
      </svg>
    </div>

    <div class="back-to-top">
      {% if section.settings.show_back_to_top %}
        <a href="#" class="btn to-top-link">
          {%- render 'icon-chevron-up--small' -%}
          <span class="visually-hidden">{{ 'sections.footer.back_to_top' | t }}</span>
        </a>
      {% endif %}
    </div>

    <div class="svg-right">
      <svg width="254" height="54" viewBox="0 0 254 54" fill="none" xmlns="http://www.w3.org/2000/svg">
         <g filter="url(#filter0_d_167_88)">
             <a href="https://www.youtube.com/user/OfficialRegalMovies">
         <rect x="8" y="7" width="34" height="34" rx="17" fill="#323236" shape-rendering="crispEdges"/>
         <path fill-rule="evenodd" clip-rule="evenodd" d="M33.2657 16.4449C34.1799 16.71 34.8931 17.4861 35.1403 18.4772C35.787 21.3046 35.7449 26.6503 35.154 29.5219C34.9095 30.513 34.1935 31.2862 33.2793 31.5541C30.6982 32.2462 19.1375 32.1609 16.7058 31.5541C15.7916 31.289 15.0784 30.513 14.8311 29.5219C14.2212 26.827 14.2633 21.1279 14.8175 18.4919C15.0621 17.5008 15.778 16.7277 16.6923 16.4597C20.1427 15.6792 32.0376 15.931 33.2657 16.4449ZM22.9413 20.5532L28.4839 23.9991L22.9413 27.4452V20.5532Z" fill="#95919F"/>
         </a>
         </g>

         <g filter="url(#filter1_d_167_88)">
            <a href="https://www.tiktok.com/@regalmovies?lang=en">
         <rect x="58" y="7" width="34" height="34" rx="17" fill="#323236" shape-rendering="crispEdges"/>
         <path d="M82.6583 18.9893C81.7164 18.788 80.8635 18.291 80.2239 17.5709C79.5842 16.8507 79.1914 15.9451 79.1027 14.986V14.5707H75.8542V27.4637C75.8515 28.0341 75.6703 28.5894 75.336 29.0517C75.0018 29.5139 74.5312 29.86 73.9903 30.0413C73.4495 30.2226 72.8654 30.23 72.3201 30.0626C71.7748 29.8951 71.2955 29.5612 70.9496 29.1076C70.5985 28.6458 70.4037 28.0841 70.3934 27.5041C70.3831 26.924 70.5578 26.3558 70.8922 25.8817C71.2267 25.4077 71.7034 25.0525 72.2533 24.8677C72.8032 24.6828 73.3977 24.678 73.9505 24.8538V21.5537C72.7463 21.3875 71.52 21.5929 70.4356 22.1424C69.3512 22.6919 68.4605 23.5594 67.8825 24.6289C67.3045 25.6984 67.0668 26.9188 67.2011 28.1271C67.3355 29.3353 67.8356 30.4737 68.6344 31.39C69.4333 32.3064 70.4929 32.957 71.6715 33.2548C72.8501 33.5527 74.0916 33.4836 75.2299 33.0568C76.3682 32.63 77.349 31.8659 78.0413 30.8665C78.7335 29.8672 79.1042 28.6804 79.1037 27.4647V20.8768C80.4165 21.8151 81.9904 22.3183 83.6041 22.3156V19.0873C83.2863 19.0877 82.9693 19.0549 82.6583 18.9893Z" fill="#95919F"/>
        </a>
         </g>

         <g filter="url(#filter2_d_167_88)">
             <a href="https://www.instagram.com/regalmovies">
         <rect x="108" y="7" width="34" height="34" rx="17" fill="#323236" shape-rendering="crispEdges"/>
         <path d="M125.004 13.3926C122.126 13.3926 121.759 13.4046 120.63 13.4587C119.5 13.5127 118.731 13.687 118.058 13.9513C117.362 14.2216 116.767 14.5821 116.178 15.1769C115.589 15.7656 115.229 16.3604 114.952 17.0573C114.688 17.7301 114.508 18.5051 114.46 19.6285C114.412 20.758 114.394 21.1185 114.394 24.0021C114.394 26.8798 114.406 27.2402 114.46 28.3757C114.514 29.5051 114.688 30.2742 114.952 30.947C115.223 31.6439 115.583 32.2387 116.178 32.8274C116.767 33.4161 117.362 33.7827 118.058 34.053C118.731 34.3173 119.506 34.4915 120.63 34.5456C121.759 34.5997 122.12 34.6116 125.004 34.6116C127.882 34.6116 128.242 34.5997 129.378 34.5456C130.507 34.4915 131.276 34.3173 131.955 34.053C132.652 33.7827 133.241 33.4161 133.83 32.8274C134.418 32.2387 134.779 31.6439 135.055 30.947C135.313 30.2742 135.494 29.5051 135.548 28.3757C135.596 27.2463 135.614 26.8858 135.614 24.0021C135.614 21.1245 135.602 20.764 135.548 19.6285C135.494 18.4991 135.313 17.7301 135.055 17.0573C134.785 16.3604 134.418 15.7656 133.83 15.1769C133.241 14.5881 132.652 14.2276 131.949 13.9513C131.27 13.687 130.501 13.5127 129.372 13.4587C128.242 13.4046 127.882 13.3926 125.004 13.3926ZM124.054 15.303C124.337 15.303 124.649 15.303 125.004 15.303C127.833 15.303 128.17 15.315 129.287 15.3631C130.321 15.4112 130.88 15.5854 131.258 15.7296C131.751 15.9218 132.105 16.1501 132.478 16.5225C132.85 16.895 133.078 17.2495 133.271 17.7421C133.415 18.1146 133.589 18.6793 133.637 19.7127C133.685 20.8301 133.697 21.1665 133.697 23.9962C133.697 26.8257 133.685 27.1622 133.637 28.2796C133.589 29.3129 133.415 29.8716 133.271 30.2501C133.078 30.7427 132.85 31.0972 132.478 31.4697C132.105 31.8422 131.757 32.0704 131.258 32.2626C130.886 32.4069 130.321 32.5811 129.287 32.6292C128.17 32.6772 127.833 32.6892 125.004 32.6892C122.174 32.6892 121.837 32.6772 120.72 32.6292C119.687 32.5811 119.128 32.4069 118.749 32.2626C118.257 32.0704 117.902 31.8422 117.53 31.4697C117.157 31.0972 116.929 30.7427 116.737 30.2501C116.592 29.8776 116.418 29.3129 116.37 28.2796C116.322 27.1622 116.31 26.8257 116.31 23.9962C116.31 21.1665 116.322 20.8301 116.37 19.7127C116.418 18.6793 116.592 18.1206 116.737 17.7421C116.929 17.2495 117.157 16.895 117.53 16.5225C117.902 16.1501 118.257 15.9218 118.749 15.7296C119.122 15.5854 119.687 15.4112 120.72 15.3631C121.699 15.315 122.078 15.303 124.054 15.303ZM130.663 17.0632C129.96 17.0632 129.39 17.634 129.39 18.3369C129.39 19.0398 129.96 19.6105 130.663 19.6105C131.366 19.6105 131.937 19.0398 131.937 18.3369C131.937 17.634 131.366 17.0632 130.663 17.0632ZM125.004 18.5532C121.994 18.5532 119.56 20.9923 119.56 23.9962C119.56 27.006 122 29.439 125.004 29.439C128.014 29.439 130.447 26.9999 130.447 23.9962C130.447 20.9863 128.014 18.5532 125.004 18.5532ZM125.004 20.4636C126.956 20.4636 128.536 22.0436 128.536 23.9962C128.536 25.9486 126.956 27.5286 125.004 27.5286C123.051 27.5286 121.471 25.9486 121.471 23.9962C121.471 22.0436 123.051 20.4636 125.004 20.4636Z" fill="#95919F"/>
          </a>
         </g>

         <g filter="url(#filter3_d_167_88)">
             <a href="https://www.facebook.com/RegalMovies">
         <rect x="158" y="7" width="34" height="34" rx="17" fill="#323236" shape-rendering="crispEdges"/>
         <path d="M178.989 24.7279L179.51 21.3281H176.249V19.1221C176.249 18.1928 176.703 17.285 178.165 17.285H179.649V14.3911C179.649 14.3911 178.303 14.1613 177.016 14.1613C174.33 14.1613 172.574 15.7884 172.574 18.7368V21.3281H169.588V24.7279H172.574V32.9448C173.173 33.039 173.786 33.0869 174.411 33.0869C175.037 33.0869 175.65 33.0374 176.249 32.9448V24.7279H178.989Z" fill="#95919F"/>
          </a>
         </g>

         <g filter="url(#filter4_d_167_88)">
               <a href="https://twitter.com/RegalMovies">
         <rect x="208" y="7" width="34" height="34" rx="17" fill="#323236" shape-rendering="crispEdges"/>
         <path d="M229.598 28.7742C231.72 26.4755 232.958 23.4695 232.958 20.4635V19.9331C233.665 19.4026 234.372 18.6953 234.903 17.8112L232.604 18.5185C233.488 17.988 234.019 17.1039 234.372 16.2198C233.665 16.7502 232.604 17.1039 231.72 17.2807C231.112 16.6687 230.325 16.266 229.472 16.1308C228.62 15.9956 227.747 16.135 226.979 16.5287C226.211 16.9224 225.589 17.5501 225.201 18.321C224.814 19.0919 224.681 19.9661 224.823 20.8172C221.64 20.8172 218.457 19.0489 216.512 16.5734C215.274 18.6953 215.982 20.994 217.75 22.2318C217.043 22.2318 216.335 22.2318 215.982 21.7013C215.982 23.8232 217.22 25.4146 219.165 25.7682H217.396C217.75 27.5365 219.342 28.7742 220.933 28.7742C219.291 30.0979 217.199 30.7319 215.098 30.5425C216.866 31.6034 219.165 32.3107 221.287 32.3107C224.47 32.3107 227.299 31.0729 229.598 28.7742Z" fill="#95919F"/>
        </a>
         </g>

         <defs>
         <filter id="filter0_d_167_88" x="0" y="0" width="54" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
         <feFlood flood-opacity="0" result="BackgroundImageFix"/>
         <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
         <feOffset dx="2" dy="3"/>
         <feGaussianBlur stdDeviation="5"/>
         <feComposite in2="hardAlpha" operator="out"/>
         <feColorMatrix type="matrix" values="0 0 0 0 0.196078 0 0 0 0 0.192157 0 0 0 0 0.2 0 0 0 1 0"/>
         <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_167_88"/>
         <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_167_88" result="shape"/>
         </filter>
         <filter id="filter1_d_167_88" x="50" y="0" width="54" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
         <feFlood flood-opacity="0" result="BackgroundImageFix"/>
         <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
         <feOffset dx="2" dy="3"/>
         <feGaussianBlur stdDeviation="5"/>
         <feComposite in2="hardAlpha" operator="out"/>
         <feColorMatrix type="matrix" values="0 0 0 0 0.196078 0 0 0 0 0.192157 0 0 0 0 0.2 0 0 0 1 0"/>
         <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_167_88"/>
         <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_167_88" result="shape"/>
         </filter>
         <filter id="filter2_d_167_88" x="100" y="0" width="54" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
         <feFlood flood-opacity="0" result="BackgroundImageFix"/>
         <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
         <feOffset dx="2" dy="3"/>
         <feGaussianBlur stdDeviation="5"/>
         <feComposite in2="hardAlpha" operator="out"/>
         <feColorMatrix type="matrix" values="0 0 0 0 0.196078 0 0 0 0 0.192157 0 0 0 0 0.2 0 0 0 1 0"/>
         <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_167_88"/>
         <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_167_88" result="shape"/>
         </filter>
         <filter id="filter3_d_167_88" x="150" y="0" width="54" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
         <feFlood flood-opacity="0" result="BackgroundImageFix"/>
         <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
         <feOffset dx="2" dy="3"/>
         <feGaussianBlur stdDeviation="5"/>
         <feComposite in2="hardAlpha" operator="out"/>
         <feColorMatrix type="matrix" values="0 0 0 0 0.196078 0 0 0 0 0.192157 0 0 0 0 0.2 0 0 0 1 0"/>
         <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_167_88"/>
         <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_167_88" result="shape"/>
         </filter>
         <filter id="filter4_d_167_88" x="200" y="0" width="54" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
         <feFlood flood-opacity="0" result="BackgroundImageFix"/>
         <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
         <feOffset dx="2" dy="3"/>
         <feGaussianBlur stdDeviation="5"/>
         <feComposite in2="hardAlpha" operator="out"/>
         <feColorMatrix type="matrix" values="0 0 0 0 0.196078 0 0 0 0 0.192157 0 0 0 0 0.2 0 0 0 1 0"/>
         <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_167_88"/>
         <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_167_88" result="shape"/>
         </filter>
         </defs>
      </svg>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 8,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "default",
      "label": "t:sections.colors.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "t:sections.footer.settings.show_top_border.label",
      "info": "t:sections.footer.settings.show_top_border.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:sections.footer.settings.show_bottom_border.label",
      "info": "t:sections.footer.settings.show_bottom_border.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_back_to_top",
      "label": "t:sections.footer.settings.show_back_to_top.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "label": "t:sections.footer.settings.payment_enable.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "t:sections.footer.settings.show_copyright.label"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "t:sections.footer.settings.copyright_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_for_social_media.content",
      "info": "t:sections.footer.settings.header_for_social_media.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_for_language_selector.content",
      "info": "t:sections.footer.settings.header_for_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_for_country_selector.content",
      "info": "t:sections.footer.settings.header_for_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.enable_follow_on_shop_header.content",
      "info": "t:sections.footer.settings.enable_follow_on_shop_header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "select",
      "id": "sm_size_multiplier",
      "label": "t:sections.typography.size_options.label",
      "default": "sm-size--default",
      "options": [
        {
          "value": "sm-size--tiny",
          "label": "t:sections.typography.size_options.tiny"
        },
        {
          "value": "sm-size--small",
          "label": "t:sections.typography.size_options.small"
        },
        {
          "value": "sm-size--default",
          "label": "t:sections.typography.size_options.default"
        },
        {
          "value": "sm-size--large",
          "label": "t:sections.typography.size_options.large"
        }
      ]
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "select",
      "id": "size_multiplier",
      "label": "t:sections.typography.size_options.label",
      "default": "size--default",
      "options": [
        {
          "value": "size--tiny",
          "label": "t:sections.typography.size_options.tiny"
        },
        {
          "value": "size--small",
          "label": "t:sections.typography.size_options.small"
        },
        {
          "value": "size--default",
          "label": "t:sections.typography.size_options.default"
        },
        {
          "value": "size--large",
          "label": "t:sections.typography.size_options.large"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.link_list.menu.label",
          "default": "footer"
        },
        {
          "type": "select",
          "id": "column_width",
          "label": "t:sections.footer.blocks.block_width.label",
          "default": "col-md-3",
          "options": [
            {
              "value": "col-md-3",
              "label": "t:sections.footer.blocks.block_width.options.one_fourth"
            },
            {
              "value": "col-md-4",
              "label": "t:sections.footer.blocks.block_width.options.one_third"
            },
            {
              "value": "col-md-6",
              "label": "t:sections.footer.blocks.block_width.options.one_half"
            },
            {
              "value": "col-md-8",
              "label": "t:sections.footer.blocks.block_width.options.two_thirds"
            },
            {
              "value": "col-md-12",
              "label": "t:sections.footer.blocks.block_width.options.full_width"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title",
          "default": "Custom text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.inputs.text.text",
          "default": "<p>Add your own custom text here.</p>"
        },
        {
          "type": "select",
          "id": "column_width",
          "label": "t:sections.footer.blocks.block_width.label",
          "default": "col-md-6",
          "options": [
            {
              "value": "col-md-3",
              "label": "t:sections.footer.blocks.block_width.options.one_fourth"
            },
            {
              "value": "col-md-4",
              "label": "t:sections.footer.blocks.block_width.options.one_third"
            },
            {
              "value": "col-md-6",
              "label": "t:sections.footer.blocks.block_width.options.one_half"
            },
            {
              "value": "col-md-8",
              "label": "t:sections.footer.blocks.block_width.options.two_thirds"
            },
            {
              "value": "col-md-12",
              "label": "t:sections.footer.blocks.block_width.options.full_width"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title",
          "default": "Signup"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "t:sections.inputs.text.text",
          "default": "<p>Subscribe our newsletter to get the latest updates on our products.</p>"
        },
        {
          "type": "select",
          "id": "column_width",
          "label": "t:sections.footer.blocks.block_width.label",
          "default": "col-md-3",
          "options": [
            {
              "value": "col-md-3",
              "label": "t:sections.footer.blocks.block_width.options.one_fourth"
            },
            {
              "value": "col-md-4",
              "label": "t:sections.footer.blocks.block_width.options.one_third"
            },
            {
              "value": "col-md-6",
              "label": "t:sections.footer.blocks.block_width.options.one_half"
            },
            {
              "value": "col-md-8",
              "label": "t:sections.footer.blocks.block_width.options.two_thirds"
            },
            {
              "value": "col-md-12",
              "label": "t:sections.footer.blocks.block_width.options.full_width"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.footer.blocks.image.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.image.paragraph"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.image.image.label"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.footer.blocks.image.image_width.label",
          "default": 200,
          "min": 100,
          "max": 1000,
          "step": 25,
          "unit": "px"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.inputs.text.text"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "t:sections.typography.text_align",
          "default": "center"
        },
        {
          "type": "select",
          "id": "column_width",
          "label": "t:sections.footer.blocks.block_width.label",
          "default": "col-md-3",
          "options": [
            {
              "value": "col-md-3",
              "label": "t:sections.footer.blocks.block_width.options.one_fourth"
            },
            {
              "value": "col-md-4",
              "label": "t:sections.footer.blocks.block_width.options.one_third"
            },
            {
              "value": "col-md-6",
              "label": "t:sections.footer.blocks.block_width.options.one_half"
            },
            {
              "value": "col-md-8",
              "label": "t:sections.footer.blocks.block_width.options.two_thirds"
            },
            {
              "value": "col-md-12",
              "label": "t:sections.footer.blocks.block_width.options.full_width"
            }
          ]
        }
      ]
    },
    {
      "type": "custom_payment_icon",
      "name": "t:sections.footer.blocks.custom_payment_icon.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.custom_payment_icon.image.label",
          "info": "t:sections.footer.blocks.custom_payment_icon.image.info"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "t:sections.footer.blocks.custom_payment_icon.svg.label",
          "info": "t:sections.footer.blocks.custom_payment_icon.svg.info"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list",
        "settings": {
          "column_width": "col-md-4"
        }
      },
      {
        "type": "text",
        "settings": {
          "column_width": "col-md-4"
        }
      },
      {
        "type": "newsletter",
        "settings": {
          "column_width": "col-md-4"
        }
      }
    ]
  }
}
{% endschema %}
