{{ 'section-featured-look.css' | asset_url | stylesheet_tag }}
{{ 'component-hotspots.css' | asset_url | stylesheet_tag }}
{{ 'movie-look.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign product_blocks = section.blocks | where: 'type', 'product'
-%}

<div
  id="{{ section.id }}"
  class="pt pb sm-pt sm-pb movie-container container  {% if section.settings.enable_full_width %} sm-edge-to-edge sm-p-page{% endif %} color-{{ section.settings.color_scheme }}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
        margin-top: 26px;
  "
>
  <div class="grid col-align-items-center col-justify-items-center mb-gutter">
    <div class="col-12 col-sm-6 {% if section.settings.media_position == 'media_last' %} col-sm-order-2{% endif %}">
      <div class="">
        {%-
          render 'video',
          poster: section.settings.cover_image | img_url: 'master',
          src: section.settings.video_url,
          autoplay: true,
          loop: true,
          aspect_ratio: section.settings.media_aspect_ratio,
          lazyload: true,
          controls: true,
          muted: true  

        -%}
      </div>
    </div>

    <div class="col-12 col-sm-6 ">
      <div class="layout grid-cols-1">
        {%- assign product_index = 1 -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'section_header' -%}
              {%- render 'section-header',
                direct_child: false,
                size_multiplier: block.settings.size_multiplier,
                sm_size_multiplier: block.settings.sm_size_multiplier,
                text_align: block.settings.text_alignment,
                subtitle: block.settings.subtitle,
                subtitle_tag: block.settings.subtitle_tag,
                title: block.settings.title,
                title_tag: block.settings.title_tag,
                text: block.settings.text
              -%}

            {%- when 'product' -%}
              <div class="card-layout card--product">
                <div class="card-body example">
                  <div>
                    <div class="card-width">
                      <img src="{{ block.settings.images | image_url: width: 130}}" height="">
                    </div>
                    <div class="labels {{ block.settings.label }}">{{ block.settings.label }}</div>
                  </div>
                  <div class="card-content">
                    <div class="card-titles">{{ block.settings.header_text }}</div>
                    <div class="card-fields">{{ block.settings.block_text }}</div>
                    <div class="card-fields">{{ block.settings.blocks_text }}</div>

                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Movies Look",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.featured-look.info"
    },
    {
          "type": "text",
          "id": "video_url",
          "label": "Video URL",
          "default": "https://cdn.shopify.com/videos/c/o/v/b4ef24dd8f794241b068b56db3822ccd.mp4"
        },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Cover Image"
    },
    {
          "id": "media_aspect_ratio",
          "type": "select",
          "label": "Ascpect Ratio",
          "options": [
            {
              "value": "natural",
              "label": "t:sections.images.aspect_ratio.natural"
            },
            {
              "value": "portrait",
              "label": "t:sections.images.aspect_ratio.portrait_2_3"
            },
            {
              "value": "portrait_alt",
              "label": "t:sections.images.aspect_ratio.portrait_3_4"
            },
            {
              "value": "square",
              "label": "t:sections.images.aspect_ratio.square"
            },
            {
              "value": "landscape",
              "label": "t:sections.images.aspect_ratio.landscape_4_3"
            }
          ]
        },

    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.layout.section_width.full_width",
      "default": false
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "t:sections.layout.media_position.label",
      "options": [
        {
          "value": "media_first",
          "label": "t:sections.layout.media_position.media_first"
        },
        {
          "value": "media_last",
          "label": "t:sections.layout.media_position.media_last"
        }
      ],
      "default": "media_first"
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 80
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 24
    }
  ],
  "blocks": [

    {
      "name": "t:sections.blocks.section_header.name",
      "type": "section_header",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.section_header.info"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "t:sections.inputs.text.subtitle"
        },
        {
          "type": "select",
          "id": "subtitle_tag",
          "label": "t:sections.blocks.section_header.subtitle_tag",
          "info": "t:sections.typography.heading_tag.info",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },
            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title",
          "default": "Movies look"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "t:sections.blocks.section_header.title_tag",
          "info": "t:sections.typography.heading_tag.info",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },

            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.inputs.text.text",
          "default": "<p>A trip to the movies is a perfect reward, prize, or gift.And Regal has plenty of ways to give that gift.  Add a gift card to a birthday present. Surprise a friend by texting an eCard. Treat a movie-lover to Unlimited movies. Or reward employees with a ticket to a film of their choice.</p>"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "t:sections.typography.text_align",
          "options": [
            {
              "value": "text-align-left",
              "label": "t:sections.layout.position.options.left"
            },
            {
              "value": "text-align-center",
              "label": "Center"
            },
            {
              "value": "text-align-right",
              "label": "t:sections.layout.position.options.right"
            }
          ],
          "default": "text-align-left"
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        }
      ]
    },

  {
    "name": "New Image Line",
    "type": "product",
    "limit": 6,
    "settings": [
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text",
        "default": "This is the header text."
      },
      {
        "type": "text",
        "id": "block_text",
        "label": "Block Text",
        "default": "This is the block text."
      },
       {
        "type": "text",
        "id": "blocks_text",
        "label": "Block Text",
        "default": "This is the block text."
      },
          {
            "type": "text",
            "id": "label",
            "label": "Label"
          },
      {
        "type": "image_picker",
        "id": "images",
        "label": "Add Image"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ]
  }
      ],
      "presets": [{
        "name": "Movies Look",
        "blocks": [
          {
            "type": "section_header"
          }
        ]
      }
      ]
    }
{% endschema %}
